body {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    flex: 1;
    display: flex;
    background-color: rgb(226, 222, 222);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;  
}

.countainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 720px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 12px;
    flex-direction: column;
}
.text{
    border-radius: 16px;
    width: 650px;
    height: 50px;
}
.mesagess{
    width: 100%;
    height: 100%;
}
.send{
    width: 50px;
    height: 50px;
    border-radius: 16px;
    font: inherit;
  color: inherit;
  background-color: transparent;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.inputicon{
    height: 45px;
    width: 45px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.inputmessage{
    position: relative;
}
.hedderMessage{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.user{
    display: flex;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
}
.options{
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 210px;
    display: flex;
}
.options > button {
    height: 45px;
    width: 45px;
    padding: 8px;
    display: flex;
    outline: none;
    border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.userIcon{
    flex-grow: 1;
    height: 100%;
    align-items: center;
    display: flex;
}
.userInfo{
    flex-grow: 18;
    height: 100%;
    font-size: 10px;
    opacity: 0.6;
}
.userImg{
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 100%;
}
.border{
    width: 655px;
    height: 0.2px;
    
}
